@model BTS.Controllers.IncidentWithDetails

@{
    ViewBag.Title = "Details";
    var userAccount = new BTS.Controllers.UserAccount(User as System.Security.Claims.ClaimsPrincipal);

}

<h2>Details</h2>

<div>
    <h4>Incident</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateReported)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateReported)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instructor.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructor.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instructor.emailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructor.emailAddress)
        </dd>


        @foreach (var item in Model.Students)
        {
            <dt>
                @Html.DisplayNameFor(modelItem => item.name)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.emailAddress)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.emailAddress)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.IncidentDoc)
        </dt>

        <dd>
            <img src="/file/@Model.Id" class="img-responsive" />
            @*@Html.DisplayFor(model => model.IncidentFile)*@
        </dd>

    </dl>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
