<!--
Author: Jagmeet,mona
-->


@model IEnumerable<BTS.Controllers.IncidentBase>

@{
    ViewBag.Title = "List of Incidents";
    var userAccount = new BTS.Controllers.UserAccount(User as System.Security.Claims.ClaimsPrincipal);

}



@if (User.IsInRole("Coordinator Admin"))
{
    <h2>List of Open Incidents</h2>
    @Html.ActionLink("View all incidents", "Index2", "Incident")
}
else
{
    <h2>List of Incidents</h2>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateReported)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.offence)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateReported)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @if (User.IsInRole("Coordinator Admin"))
            {
                @Html.DisplayFor(modelItem => item.offence)
            }
            else
            {
                @Html.DisplayFor(modelItem => item.offence.Substring(0, 20))
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @if (User.IsInRole("Coordinator Admin"))
            {
                if (item.status.ToLower() == "open" && (item.offence.ToLower() == "major" || item.offence.ToLower() == "minor (repeat)"))
                {
                    <text>| </text>
                    @Html.ActionLink("Respond", "incidentResponse", new { id = item.Id })
                }
                else if (item.status.ToLower() == "open" && item.offence.ToLower() == "minor")
                {
                    <text>| </text>
                    @Html.ActionLink("Close", "incidentResponse", new { id = item.Id })
                }
            }
        </td>
    </tr>
}

</table>
